<div class="input-group">
    <span class="input-group-addon" id="sizing-addon2">标题：</span>
    <input type="text" class="form-control" placeholder="title" aria-describedby="sizing-addon2" ng-model="title">
</div>
<div class="input-group" style="margin-top:20px;">
    <span class="input-group-addon" id="sizing-addon">内容：</span>
    <textarea class="form-control cedit" placeholder="content" aria-describedby="sizing-addon2" ng-model="content"></textarea>
</div>
<div class="btn-group" role="group" aria-label="..." style="float:right;margin-top:20px;">
    <button type="button" class="btn btn-default" ng-click="cupdate()">发表</button>
</div>