<div>
    <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2">标题：</span>
        <input type="text" class="form-control" placeholder="title" aria-describedby="sizing-addon2" ng-model="title">
    </div>
    <div class="input-group" style="margin-top:20px;" >
        <span class="input-group-addon" id="sizing-addon3">类别：</span>
        <select class="form-control" ng-model="type">
            <option>技术</option>
            <option>生活</option>
            <option>其他</option>
        </select>
    </div>
    <div class="input-group" style="margin-top:20px;" >
        <span class="input-group-addon">作者：</span>
        <input type="text" class="form-control" placeholder="author" aria-describedby="sizing-addon2" ng-model="author">
    </div>
    <div class="input-group" style="margin-top:20px;" >
        <span class="input-group-addon">邮箱：</span>
        <input type="text" class="form-control" placeholder="邮箱" aria-describedby="sizing-addon2" ng-model="email" id="email">
    </div>
    <span style="color:red;display:none" class="check">邮件格式不正确!</span>
    <script id="editor" type="text/plain" style="width:1000px;height:500px;"></script>
    <div class="btn-group" role="group" aria-label="..." style="float:right;margin-top:20px;">
        <button type="button" class="btn btn-default" ng-click="publish()">发表</button>
    </div>
</div>
