<div>
    <span class="cp_title">文章留言</span>
    <!--<div class="add_cp">
        <a href="../addBlog.html">添加博文</a>
    </div>-->
    <div class="table_con">
        <table class="table table-hover">
            <tr>
                <td width="25%">留言类型</td>
                <td width="25%">内容</td>
                <td width="25%">发布时间</td>
                <td width="25%">操作</td>
            </tr>
            <tr ng-repeat="message in blogmlist">
                <td width="25%">文章留言</td>
                <td width="25%">{{message.content}}</td>
                <td width="25%">{{message.time}}</td>
                <td width="25%">
                    <a class='sj_btn' ng-click="messageDetails(message.blogId)" style="margin-left: 80px">查看</a>
                    <a class='del_btn' ng-click="messageDel(message.messageId)">删除</a>
                </td>
            </tr>
        </table>
        <my-pagination page-option="option"></my-pagination>
        <br>
    </div>
</div>