<div>
    <div class="left_time">
        <div class="panel panel-default">
            <div class="panel-body">
                最新发布
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
        </ul>
    </div>
    <div class="left_essence">
        <div class="panel panel-default">
            <div class="panel-body">
                精品博文
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
        </ul>
    </div>
    <div class="left_classify">
        <div class="panel panel-default">
            <div class="panel-body">
                博文分类
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
        </ul>
    </div>
</div>