<div>
    <div class="left_time">
        <div class="panel panel-default">
            <div class="panel-body">
                最新发布
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="latest in list track by $index " ng-click="blogdetails(latest.blogId)" style="cursor: pointer">{{latest.title}}</li>
        </ul>
    </div>
    <div class="left_essence">
        <div class="panel panel-default">
            <div class="panel-body">
                精品博文
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="essence in essencelist track by $index" ng-click="blogdetails(essence.blogId)">{{essence.title}}</li>
        </ul>
    </div>
    <div class="left_classify">
        <div class="panel panel-default">
            <div class="panel-body">
                博文分类
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item" ng-click="findtype('技术')">技术</li>
            <li class="list-group-item" ng-click="findtype('生活')">生活</li>
            <li class="list-group-item" ng-click="findtype('其他')">其他</li>
        </ul>
    </div>
</div>