<div class="left-menu">
    <ul id="menu">
        <li class="menu-list">
            <a style="cursor:pointer" class="firsta"><i  class="glyph-icon xlcd"></i>博文
                管理<s class="sz"></s></a>
            <ul>
                <li><a ui-sref="mindex.aboutBlog" target="menuFrame"><i class="glyph-icon
icon-chevron-right1"></i>博文管理指南</a></li>
                <li><a ui-sref="mindex.blogManager" target="menuFrame"><i class="glyph-icon
icon-chevron-right2"></i>博文管理</a></li>
            </ul>
        </li>

        <li class="menu-list">
            <a style="cursor:pointer" class="firsta"><i  class="glyph-icon xlcd"></i>留言
                管理<s class="sz"></s></a>
            <ul>
                <li><a ui-sref="aboutMessage.html" target="menuFrame"><i class="glyph-icon
icon-chevron-right1"></i>留言管理指南</a></li>
                <li><a ui-sref="mindex.messageManger" target="menuFrame"><i class="glyph-
icon icon-chevron-right2"></i>留言管理</a></li>
            </ul>
        </li>
    </ul>
    <div ui-view="" style="height: 100%"></div>
</div>