<div class="top">
    <div style="float: left"><span style="font-size: 16px;line-height: 45px;padding-left: 20px;color: #fff">博客管理</h1></span></div>
    <div id="ad_setting" class="ad_setting">
        <a class="ad_setting_a" href="javascript:; ">admin</a>
        <ul class="dropdown-menu-uu" style="display: none" id="ad_setting_ul">
            <li class="ad_setting_ul_li"> <a href="javascript:;"><i class="icon-user glyph-icon"></i>个人中心</a> </li>
            <li class="ad_setting_ul_li"> <a href="javascript:;"><i class="icon-cog glyph-icon"></i>设置</a> </li>
            <li class="ad_setting_ul_li"> <a href="../index.html"><i class="icon-signout glyph-icon"></i> <span class="font-bold">退出</span> </a> </li>
            <li class="ad_setting_ul_li"> <a href="index.html"><i class="icon-signout glyph-icon"></i> <span class="font-bold">退出登录</span> </a> </li>

        </ul>
        <img class="use_xl" src="assets/images/right_menu.png" />
    </div>
</div>