body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;height:100%;
}
html{
    height: 100%;
}
a {
  color: #00B7FF;
}
.icon{
 cursor: pointer;
  padding:10px;
}
.wordhide{
    display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.ui-view-main{
    width:65%;
    float:left;
    margin-left:6%;
}
.ui-view-left{
    width:20%;
    float:left;
    margin-left:5%;
}
.list-content{
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
}